{% extends 'base.html.twig' %}

{% block title %}Hello SendMailController!{% endblock %}

{% block body %}
<div>
    <h1>Send an Email</h1>
    {{form_start(form)}}
    {{form_end(form)}}
</div>


{% endblock %}
