{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
    
</style>

<div >
    <h1>Inscription</h1>
    {{form_start(form)}}
    {{form_end(form)}}
</div>
{% endblock %}
