{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
<div>
    <h1>Changer de mot de passe !</h1>
    {{form_start(form)}}
    {{form_end(form)}}
</div>


{% endblock %}
